<div class="todo-container">
    <ul>
      <li *ngFor="let todo of todoList" [class.completed]="todo.isCompleted" class="todo-item" [class.overdue]="isOverdue(todo.deadline)">
          <input type="checkbox" [(ngModel)]="todo.isCompleted" (onChange)="markAsCompleted(todo.id)" [disabled]="todo.isCompleted">

          <input type="text" [(ngModel)]="todo.task" (blur)="updateTodo(todo)">
          <input type="text" [(ngModel)]="todo.deadline">
          <button (click)="toggleDetails(todo)">Details</button>
          <!-- Display moreDetails when showDetails is true -->
          <div *ngIf="todo.showDetails">
            <input type="text" [(ngModel)]="todo.moreDetails" placeholder="Enter more details" (blur)="updateMoreDetails(todo, todo.moreDetails)" [disabled]="todo.isCompleted">
          </div>
          <button (click)="deleteTodo(todo.id)">Delete</button>

          <!-- Add Sub TODO Button -->
          <button *ngIf="!todo.isCompleted && !todo.showAddSubTodo" (click)="toggleAddSubTodo(todo)">Add Sub TODO</button>
        <!-- Sub TODO Input and Button -->
        <div *ngIf="todo.showAddSubTodo">
          <input type="text" [(ngModel)]="subTodo.task" placeholder="Enter sub task">
          <input type="text" [(ngModel)]="subTodo.moreDetails" placeholder="Enter more details">
          <button (click)="addSubTodo(todo)">Add Sub TODO</button>
          <button *ngIf="subTodo.id != 0" (click)="deleteSubTodo(todo, subTodo)">Delete</button>
        </div>

        <!-- Sub TODOs List -->
        <ul *ngIf="todo.subTodos && todo.subTodos.length">
          <li *ngFor="let subTodo of todo.subTodos">
            <!-- Sub Todo Item Content -->
            <input type="checkbox" [(ngModel)]="subTodo.isCompleted" (change)="markSubTodoAsCompleted(todo.id, subTodo.id)" [disabled]="todo.isCompleted">
            <input type="text" [(ngModel)]="subTodo.task" (blur)="updateSubTodo(subTodo.parentId, subTodo.id, subTodo)">
            <button (click)="toggleSubTodoDetails(subTodo)">Details</button>
            <!-- Display moreDetails when showDetails is true -->
            <div *ngIf="subTodo.showDetails">
              <input type="text" [(ngModel)]="subTodo.moreDetails" placeholder="Enter more details" (blur)="updateSubTodoDetails(todo.id, subTodo.id, subTodo.moreDetails)" [disabled]="subTodo.isCompleted">
            </div>
            <button (click)="deleteSubTodo(todo, subTodo)">Delete</button>
          </li>
        </ul>
      </li>
    </ul>
  </div>
<div>
  <input type="text" [(ngModel)]="newTodo.task" placeholder="Enter new task">
  <input type="text" [(ngModel)]="newTodo.moreDetails" placeholder="Enter more details">
  <p-calendar [(ngModel)]="newTodo.deadline" class="ng-invalid ng-dirty"></p-calendar>
  <button (click)="addTodo()">Add</button>
</div>
